.form-container {
  width: 40%;
  padding-top: 20vh;
  margin: 0 auto;
}

.login-form {
  background-color: rgba(29, 10, 10, 0.945);
  border-bottom: 10px solid rgb(51, 46, 40);
  border-radius: 23px;
  width: 100%;
  padding: 10px;
  height: 50vh;
  margin: 10px auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.form-input {
  color: rgb(168, 126, 80);
  text-align: center;
  padding: 10px 20px;
  margin: 20px auto;
  width: 50%;
  outline: none;
  border: none;
  border-radius: 20px;
  transition-duration: 0.3s;
  background-color: rgba(70, 22, 22, 0.945);
}

.form-image {
  width: 20%;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}

.form-input:hover {
  background-color: rgba(168, 125, 80, 0.452);
  color: antiquewhite;
}

.form-controllers {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.form-controllers img {
  width: 50px;
  cursor: pointer;
}

.form-controllers button {
  min-width: 25%;
  height: 30px;
  border-radius: 20px;
  border: none;
  font-size: 1.2rem;
  background-color: brown;
  color: blanchedalmond;
  cursor: pointer;
  transition-duration: 0.2s;
}

.form-controllers button:hover {
  min-width: 30%;
  height: 40px;
}

.logout {
  cursor: pointer;
}

.logout:hover {
  color: brown;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
