.library-container {
  padding-top: 20vh;
  display: flex;
  justify-content: space-around;
  color: aliceblue;
  flex-wrap: wrap;
}

.library-data {
  margin: 10px;
  background-color: rgba(29, 10, 10, 0.568);
  padding: 10px 30px;
  width: 28%;
  border-radius: 30px;
  overflow: hidden;
}

.library-movies-item {
  width: 90%;
  margin: 20px auto;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}

.library-movies-item-img {
  width: 100%;
  border-radius: 30px;
  align-self: center;
  transition: 0.5s all ease-in-out;
}

.library-movies-item:hover .library-movies-item-img {
  opacity: 0.3;
}

.library-movies-item-data {
  top: 5vh;
  position: absolute;
  text-align: center;
  color: azure;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-height: 80%;
  overflow: scroll;
  opacity: 0;
  width: 80%;
  transition: 0.5s all ease-in-out;
}

.library-movies-item-title {
  text-align: center;
}

.library-movies-item:hover .library-movies-item-data {
  opacity: 1;
}

.library-controllers {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.library-container button {
  width: 70%;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
  padding: 5px 12px;
  background-color: bisque;
  font-size: 1.2rem;
}
