.profile-content {
  width: 60%;
  margin: 0 auto;
  color: #f0f8ff;
  height: 60vh;
  padding-top: 20vh;
}

.profile-content .profile-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-content img {
  width: 20%;
  border-radius: 50%;
}

.profile-content-library {
  width: 30%;
}
