.modal {
  z-index: 100;
  position: fixed;
  top: 25vh;
  height: 60vh;
  left: 10%;
  width: 100%;
  background: rgba(34, 23, 0, 0);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  overflow: hidden;
}

.modal__header {
  width: 100%;
  background: rgba(180, 180, 180, 0.645);
  text-align: center;
  color: white;
}

.modal__header h2 {
  margin: 0.5rem;
}
/* 
.modal__content {
  padding: 1rem 0.5rem;
} */

.modal_form {
  height: 100vh;

  background-color: rgba(253, 255, 240, 0);
}

.modal__footer {
  text-align: right;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.modal_enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal_enter_active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal_exit {
  transform: translateY(0);
  opacity: 1;
}

.modal_exit_active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
